body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem; 
}

.navbar-brand {
    font-family: 'Unbounded', cursive;
    font-size: 3rem;
}

.big-r {
    color:#175fe6;
}

.big-w {
    color:#e6174b;
}

.nav-item {
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color:#e6174b;
    text-shadow: 0 1px #175fe6;
}

.logged-in-as {
    font-size: 20px;
    background-color: #1ddb7393;
    border-radius: 10px;
}

.new-bulletin-button-container {
    width: 22.6vw;
}

.greyed-out-button {
    background-color:#767e79;
    color: #ffffff;
    border: 2px solid #292d35b9;
    font-weight: bold;
    font-size: 2rem;
}

.greyed-out-button:hover {
    background-color:#767e79;
    color: #ffffff;
    border: 2px solid #292d35b9;
    cursor: default;
}

.new-bulletin-button {
    background-color:#18b15d;
    color: #ffffff;
    border: 2px solid #292d35b9;
    font-weight: bold;
    font-size: 2rem;
}

.new-bulletin-button:hover {
    background-color:#17e674;
    border: 2px solid #292d35b9;
}

ol > li {
    margin-bottom: 0.50rem;
    margin-top: 0.50rem;
}

.card {
    box-shadow: 10px 10px 10px #292d35b9;
}

.card-header > a {
    color: #fff; 
    text-decoration: none;
}

.link-container {
    width: 60%;
    border: 2px solid #a9bae6b9;
    border-radius: 10px;
    box-shadow: 0 3px #575d69b9;
    background-color: #eaecee;
}

.link-ellipsis {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-container {
    border: 2px solid #a9bae6b9;
    border-radius: 10px;
    box-shadow: 0 3px #575d69b9;
    background-color: #eaecee;
    color: #fff;
}

.edit-bulletin-button {
    background-color:#175fe6;
    color: #ffffff;
    border: 2px solid #292d35b9;
    font-weight: bold;
    font-size: 20px !important;
}

.edit-bulletin-button:hover {
    background-color:#47abee;
    color: #000;
    border: 2px solid #292d35b9;
}

.delete-bulletin-button {
    background-color: #e6174b;
    color: #ffffff;
    border: 2px solid #292d35b9;
    font-weight: bold;
    font-size: 20px;
    padding: 8px 16px;
}

.delete-bulletin-button:hover {
    background-color:#eb5379;
    color:#000;
    border: 2px solid #292d35b9;
}

.comment-number {
    color: #000;
    font-size: 1.5rem;
}

.comment-icon {
    color: #69eba3;
    text-shadow: 0 2px #000;
    font-size: 1.5rem;
}

.comment-number-alt:hover {
    cursor: default;
}

.comment-number-alt:target {
    border-color: #a9bae6b9;
}

.like-button {
    font-size: 1.5rem;
}

.like-button:hover {
    cursor: default;
}

.like-button:target {
    border-color: #a9bae6b9;
}

.rules {
    height: 560px;
    width: 22.6vw;
}

.logged-in-as {
    width: 22.6vw;
}

.logged-in-as-fixed {
    position: fixed;
    top: 17px;
}

.button-fixed {
    position: fixed;
    top: 47px;
}

.rules-fixed {
    position: fixed;
    top: 163px;
}

.button-fixed-alt {
    position: fixed;
    top: 18px;
}

.rules-fixed-alt {
    position: fixed;
    top: 126px;
}

.logged-in-as-fixed-bottom {
    position: absolute;
    bottom: 853px;
}

.button-fixed-bottom {
    position: absolute;
    bottom: 737px;
}

.rules-fixed-bottom {
    position: absolute;
    bottom: 178px;
}

.button-fixed-bottom-alt {
    position: absolute;
    bottom: 738px;
}

.rules-fixed-bottom-alt {
    position: absolute;
    bottom: 178px;
}

.card-header {
    color:aliceblue;
}

.card-header > h2 {
    color: #000000a6;
    font-weight: bold;
}

.bulletin-link {
    color: #175fe6 !important;
    font-size: 1.5rem;
}

.card-header > p {
    float: right;
    font-size: 1rem;
}

hr {
    margin-bottom: 0 !important;
    clear: both;
}

.comment-text {
    margin-bottom: 2rem;
}

.post-info {
    font-size: 1rem;
    color: #5d5e5e;
    margin: 0 !important;
}

.edit-text {
    color: #175fe6;
}

.blue-header {
    background-color: #175fe6;
    text-shadow: 0 2px #e6174b;
}

.red-header {
    background-color: #e6174b;
    text-shadow: 0 2px #175fe6;
}

.green-header {
    box-shadow: 0 -10px #17e674ad inset;
}

.card-body a {
    font-size: 1rem;
}

.card-body > p {
    float: right;
}

footer .col-12 {
    line-height: 100px;
}

.like-button-form > button {
    font-size: 1.5rem;
}

.like-button-form > button:hover {
    color: #000;
}

.not-liked-by-user {
    color: #5d5e5e;
}

.liked-by-user {
    color: #fdfdfd;
    text-shadow: 0 0 25px #14bd54;
}

#bulletin-container {
    margin-bottom: 5rem;
}
