body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem; 
}

.navbar-brand {
    font-family: 'Unbounded', cursive;
    font-size: 3rem;
}

.big-r {
    color:#175fe6;
}

.big-w {
    color:#e6174b;
}

.nav-item {
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color:#e6174b;
    text-shadow: 0 1px #175fe6;
}

.new-bulletin-button-container {
    width: 22.6vw;
}

.new-bulletin-button {
    background-color:#18b15d;
    color: #ffffff;
    border: 2px solid #292d35b9;
    font-weight: bold;
    font-size: 2rem;
}

.new-bulletin-button:hover {
    background-color:#17e674;
    border: 2px solid #292d35b9;
}

.card {
    box-shadow: 10px 10px 10px #292d35b9;
}

.card-header > a {
    color: #fff; 
    text-decoration: none;
}

.link-container {
    width: 60%;
    border: 2px solid #a9bae6b9;
    border-radius: 10px;
    box-shadow: 0 3px #575d69b9;
    background-color: #eaecee;
}

.link-ellipsis {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-container {
    width: 25%;
    border: 2px solid #a9bae6b9;
    border-radius: 10px;
    box-shadow: 0 3px #575d69b9;
    background-color: #eaecee;
    color: #fff;
}

.edit-bulletin-button {
    background-color:#175fe6;
    color: #ffffff;
    border: 2px solid #292d35b9;
    font-weight: bold;
    font-size: 20px !important;
}

.edit-bulletin-button:hover {
    background-color:#47abee;
    color: #000;
    border: 2px solid #292d35b9;
}

.delete-bulletin-button {
    background-color: #e6174b;
    color: #ffffff;
    border: 2px solid #292d35b9;
    font-weight: bold;
    font-size: 20px;
    padding: 8px 16px;
}

.delete-bulletin-button:hover {
    background-color:#eb5379;
    color:#000;
    border: 2px solid #292d35b9;
}

.rules {
    height: 85vh;
    width: 22.6vw;
}

.button-fixed {
    position: fixed;
    top: 10px;
}

.rules-fixed {
    position: fixed;
    top: 127px;
}

.button-fixed-bottom {
    position: absolute;
    bottom: 820px;
}

.rules-fixed-bottom {
    position: absolute;
    bottom: 15px;
}

.card-header {
    color:aliceblue;
}

.card-header > h2 {
    color: #000000a6;
    font-weight: bold;
}

.bulletin-link {
    color: #175fe6 !important;
    font-size: 1.5rem;
}

.card-header > p {
    display: inline-block;
    float: right;
    font-size: 1rem;
}

.blue-header {
    background-color: #175fe6;
    text-shadow: 0 2px #e6174b;
}

.red-header {
    background-color: #e6174b;
    text-shadow: 0 2px #175fe6;
}

.card-body a {
    font-size: 1rem;
}

.card-body > p {
    float: right;
}

footer .col-12 {
    line-height: 100px;
}

.like-button-form > button {
    font-size: 1.5rem;
}

.like-button-form > button:hover {
    color: #000;
}

.not-liked-by-user {
    color: #5d5e5e;
}

.liked-by-user {
    color: #fdfdfd;
    text-shadow: 0 0 25px #14bd54;
}
