body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem; 
}

.navbar-brand {
    font-family: 'Unbounded', cursive;
    font-size: 3rem;
}

.big-r {
    color:#175fe6;
}

.big-w {
    color:#e6174b;
}

.nav-item {
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color:#e6174b;
    text-shadow: 0 1px #175fe6;
}

.button-container {
    width: 22.6vw;
}

.new-bulletin-button {
    background-color:#18b15d;
    color: #ffffff;
    border: 2px solid #292d35b9;
    font-weight: bold;
    font-size: 2rem;
}

.new-bulletin-button:hover {
    background-color:#17e674;
    border: 2px solid #292d35b9;
}

.card {
    box-shadow: 10px 10px 10px #292d35b9;
}

.card-header > a {
    color: #fff; 
    text-decoration: none;
}

.red-header > a:hover {
    text-shadow: 0 2px #175fe6;
}

.blue-header > a:hover {
    text-shadow: 0 2px #e6174b;
}

.edit-bulletin-button {
    background-color:#9218b1;
    color: #ffffff;
    border: 2px solid #292d35b9;
    font-weight: bold;
    font-size: 2rem;
}

.edit-bulletin-button:hover {
    background-color:#b678df;
    border: 2px solid #292d35b9;
}

.rules {
    height: 85vh;
    width: 22.6vw;
}

.button-fixed {
    position: fixed;
    top: 10px;
}

.rules-fixed {
    position: fixed;
    top: 127px;
}

.button-fixed-bottom {
    position: absolute;
    bottom: 820px;
}

.rules-fixed-bottom {
    position: absolute;
    bottom: 15px;
}

.card-header {
    color:aliceblue;
}

.card-header > h2 {
    color: #000000a6;
    font-weight: bold;
}

.bulletin-link {
    color: #175fe6 !important;
    font-size: 1.5rem;
}

.card-header > p {
    display: inline-block;
    float: right;
    font-size: 1rem;
}

.blue-header {
    background-color: #175fe6;
}

.red-header {
    background-color: #e6174b;
}

.card-body > a {
    font-size: 1rem;
}

.card-body > p {
    float: right;
}

footer .col-12 {
    line-height: 100px;
}

