{% extends 'base_alt.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">
        <div class="col-8 offset-2 my-4 edit-bulletin-form-container">
            <form method="POST" action="{% url 'add' %}">
                {{ bulletin_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-signup btn-primary btn-lg">Submit</button>
                <a href="{% url 'home' %}" class="btn btn-secondary btn-lg"
                    aria-label="This is the cancel button. Click it to return to the home page.">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock content %}