{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="row mb-5">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2>{{ bulletin.title }}</h2>
                <a class="bulletin-link" href="{{ bulletin.link }}" target="_blank">{{ bulletin.link }}</a>
            </div>
            <div class="card-body">
                <p class="float-none">{{ bulletin.content }}</p>
                <div class="text-end"><i class="far fa-thumbs-up mx-1"></i>{{ bulletin.number_of_likes }}</div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12">
        <form method="post">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <div class="text-end">
                <button type="submit" class="btn btn-signup btn-primary btn-lg">Submit</button>
            </div>
        </form>
    </div>
</div>

{% for comment in comments %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <p>{{ comment.comment }}</p>
                <p><i class="far fa-thumbs-up mx-1"></i>{{ comment.number_of_likes }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}