{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="row mb-5">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2 class="d-inline">{{ bulletin.title }}</h2>
                <a href="{% url 'edit' bulletin.slug %}?query={{ request.get_full_path|urlencode }}" class="btn btn-lg float-end edit-bulletin-button">Edit</a>
                <form class="float-end" method="POST" action="{% url 'post_delete' bulletin.slug %}?query={{ request.get_full_path|urlencode }}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-lg float-end delete-bulletin-button me-2">Delete</button>
                </form>
                <a class="bulletin-link d-block my-2" href="{{ bulletin.link }}" target="_blank">{{ bulletin.link }}</a>
            </div>
            <div class="card-body">
                <p class="float-none">{{ bulletin.content }}</p>
                <div class="text-end"><i class="far fa-thumbs-up mx-1"></i>{{ bulletin.number_of_likes }}</div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12">
        <form method="POST">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <div class="text-end">
                <button type="submit" class="btn btn-signup btn-primary btn-lg">Submit</button>
            </div>
        </form>
    </div>
</div>

{% for comment in comments %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <p>{{ comment.comment }}</p>
                <p><i class="far fa-thumbs-up mx-1"></i>{{ comment.number_of_likes }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}