{% extends 'index.html' %}

{% block modal %}
<div class="modal" tabindex="-1" id="delete-dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Bulletin</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this bulletin?</p>
            </div>
            <div class="modal-footer">
                <a href="{% url 'home' %}" class="btn btn-secondary">No</a>
                <form method="post" action="{% url 'confirm_delete' specific_bulletin.slug %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        var modalDiv = document.getElementById('delete-dialog')
        var myModal = new bootstrap.Modal(modalDiv)
        myModal.show();
    });
</script>
{% endblock %}


